<%-include('../partials/header.ejs')%> 
<div class="container-fluid containerWidth">
    <div class="row">
        <div class="col-sm-3 col-med-3 col-lg-5 mainScreen">
            <table class="table table-dark text-left">
                <thead>
                    <tr>
                    <th scope="col">Employee</th>
                    <th scope="col">Account Status</th>
                    </tr>
                </thead>
                <tbody>
                    <%employees.forEach(x => {%>
                        <tr>
                            <td> <%= x.email %> </td>
                            <td> <%= x.googleId ? 'Activated' : 'Not Activated' %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Hours Worked for the Month</th>
                        <th scope="col">Amount Owed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3 col-med-3 col-lg-5 mainScreen">
            <table class="table table-dark text-left">
                <thead>
                    <tr>
                    <th scope="col">Employee</th>
                    <th scope="col">Clocked In</th>
                    <th scope="col">Clocked Out</th>
                    </tr>
                </thead>
                <tbody>
                    <%hours.forEach(x => {%>
                        <tr>
                            <td> <%= x.name %> </td>
                            <td> <%= x.clockedIn.toLocaleString() %> </td>
                            <%if(x.clockedOut) { %>
                            <td> <%= x.clockedOut.toLocaleString() %> </td>
                            <% } %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%-include('../partials/footer.ejs')%> 