<%-include('./partials/header.ejs')%> 
<div class="container-fluid containerWidthSched">
    <div class="row schedHeight mainScreen">
        <div class="d-flex col-12 flex-wrap align-content-start">
            <% schedules.forEach((x) => { %>
            <div class="card border-secondary  employeeCardLarge m-2 p-1 ">
                <div class="card-body text-secondary">
                    <h5 class="card-title"><%= x.name %></h5>
                    <p class="card-text"> Shift Day: <%= x.start.toLocaleDateString() %>  </p>
                    <p class="card-text"> Start: <%= x.start.toLocaleTimeString('en-US') %> </p>
                    <p class="card-text"> End: <%= x.end.toLocaleTimeString('en-US') %> </p>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs')%> 

