<%-include('./partials/header.ejs')%> 
<div class="container-fluid containerWidthSched">
    <div class="row schedHeight mainScreen">
        <div class="d-flex col-12 flex-wrap align-content-start justify-content-lg-start justify-content-center">
            <%if (schedules.length){ %>
                <% schedules.forEach((x) => { %>
                <div class="card border-secondary  employeeCardLarge m-2 p-1 ">
                    <div class="card-body text-secondary">
                        <h5 class="card-title"><%= x.name %></h5>
                        <p class="card-text"> Shift Day: <%= x.start.toLocaleDateString() %>  </p>
                        <p class="card-text"> Start: <%= x.start.toLocaleTimeString('en-US') %> </p>
                        <p class="card-text"> End: <%= x.end.toLocaleTimeString('en-US') %> </p>
                        <%if(user.Admin || user.name === x.name){%>
                            <form method="POST" action="/schedule/<%=x._id%>?_method=DELETE">
                                <button class="btn btn-outline-info">delete card</button>
                            </form>
                        <%}%>
                    </div>
                </div>
                <% }) %>
            <% } else { %>
                <h1>No Schedules Assigned</h1>
            <% } %>
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs')%> 

